.navbar{
    max-width:100%;
    height:65px;
    padding:5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom:5px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background: #e8e8fec3 ;
    z-index: 100;
}
@media (max-width:460px){
    .navbar .navbar-img{
        width:150px;
    }
    .navbar{
        padding:5 10px;
    }
    .navbar button{
        width:110px;
        margin-right:50px;
        font-size: 13px;
    }
}
button{
    background: #6565ff;
    color:white;
    font-weight: 500;
    font-size:15px;
    cursor: pointer;
}
ul li a{
    color:black;
    transition: 0.2s ease;
}
ul li a:hover{
    color:#6565ff;
    font-size:17px;
}
ul li .active{
    color:rgb(73, 73, 240);
}
.burger .menue{
    width:30px;
    height:5px;
    margin:5px 0;
    background: rgb(122, 122, 255);
}
.burger{
    position: absolute;
    top:20px;
    right:20px;
    display: none;
    cursor: pointer;
    z-index: 101;
}
.show-height{
    max-width:100%;
    padding:10px 30px;
    min-height:100vh;
    background: white;
    position: absolute;
    top:0;
    right:0;
    left:0;
    z-index: 100;
    transform: translatex(100%);
    transition: 0.3s ease;
}  
.order-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50%;
    gap:25px;
    font-size:25px;
    margin-top:20px;
}
.order-list li{
    border:2px solid rgb(114, 114, 252);
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 25px;
    background: rgb(103, 103, 237);
}
 .order-list li a{
    color: white;
 }   

.for-show-height{
    transform: translate(0);
}

@media (max-width:740px){
    .navbar ul{
      display: none;
  
    }
    .burger{
        display: block;
    }
    .navbar button{
        margin-right:40px;
    }
}